<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GroupContainer2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE9D129F1E1CE40E006A32E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9D12B21E1CE40E006A32E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9D12BD1E1CE40E006A32E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
